[Desktop Entry]
Version=1.1
Type=Application
Name=ffConvert
Comment=Simple front-end to ffmpeg
Icon=AdobeMediaEncoder
Exec=ffConvert
Path=/tmp
Actions=
Categories=AudioVideo;Utility;
